<footer class="section section-primary" id="block-4" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container" align="center">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">footer</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="col-md-12">
                    <p class="text-left">Discover more:
                        <br><a th:href="@{https://github.com/hateshinies?tab=repositories}" th:text="@{Github projects}"></a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <p class="text-center">
                    <br>
                    © 2016
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-left"><br>We are glad to be helpful</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>