<footer class="section section-primary" id="block-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Информация</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="col-md-12">
                    <p class="text-left">Контакты:
                        <br>+7 (905) 677-81-13
                       </p>
                </div>
            </div>
            <div class="col-md-4">
                <p class="text-center">
                    <br>
                    © 2016
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-left"><br>Очень приятно, что наш сайт оказался полезен :)</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>