<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All uploads</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<div th:include="header :: header"></div>
<body>
<h2 align="center">Choose file to download</h2><br>
<h4 align="center">Uploads info:</b></h4>
<div class="section" align="center">
    <div class="container">
        <div class="row" align="center">
            <form class="form-horizontal" action="/upload/" method="post" enctype="multipart/form-upload">
                <div class="form-group">
                    <table border="1" align="center" cellspacing="0" cellpadding="10">
                        <thead>
                        <tr>
                            <th>Surname</th>
                            <th>ID</th>
                            <th>Filename</th>
                            <th>Filesize</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="upload : ${allUploads}">
                            <td th:text="${upload.name}"></td>
                            <td th:text="${upload.id}"></td>
                            <td<a th:href="@{'/download/' + ${upload.id}}" th:text="${upload.filename}"></a></td>
                            <td th:text="${upload.filesize} +  Bytes"></td>
                            <td th:text="${upload.date}"></td>
                            <td<a th:href="@{'/remove/' + ${upload.id}}" th:text="remove"></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="section">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<div th:include="footer :: footer"></div>
</html>