<div th:include="header :: header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<h2 align="center"><b>Upload a file</b></h2>
<div class="section" align="center">
    <br>
    <div class="container">
        <div class="row" align="center">
            <br>
            <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
                <div class="col-xs-8 col-sm-6">
                    <label for="text">Surname</label>
                    <input type="text" class="form-inline" id="text" name="name">
                </div>
                <br>
                <div>
                    <input type="file" id="file" name="file">
                    <input type="submit" value="Upload" class="btn btn-primary btn-lg "><br>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</body>
<div th:include="footer :: footer"></div>
</html>